*{
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
}
body{
    background-color: rgb(197, 163, 122);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
nav{
    width: 100%;
    height: 70px;
    display: flex;
    position: absolute;
    top: 0;
    justify-content: space-around;
    align-items: center;
    background: rgb(221, 58, 58);
    backdrop-filter: blur(5px);
}
.menu a{
    text-decoration: none;
    color:white;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    
}
.logo{
    color: #9ff707;
    font-size: 40px;
   
    font-weight: bold;
    padding: 30px 10px;
}
.logo:first-letter{
    color: white;
}
header nav .icon{
    height: 35px;
    display: flex;
    cursor: pointer;
}
.contact{
    padding: 150px;
    color: white;
    list-style: none;
    font-size: 1.5rem;
    padding-bottom: 50px;
}












.form-container {
    background-color: rgb(197, 163, 122);
    padding: 30px;
    border-radius: 8px;
    width: 40%;
    
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 100px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;

}

label {
    margin-bottom: 8px;
    color: #000000;
}

input, textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgb(197, 163, 122);
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
