*{
    padding: 0;
    margin: 0;
    font-family: poppins, sans-serif;
}
body{
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
nav{
    width: 100%;
    height: 70px;
    display: flex;
    position: absolute;
    top: 0;
    justify-content: space-around;
    align-items: center;
    background: rgb(221, 58, 58);
    backdrop-filter: blur(5px);
}
.menu a{
    text-decoration: none;
    color:white;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    
}
.logo{
    color: #9ff707;
    font-size: 40px;
   
    font-weight: bold;
    padding: 30px 10px;
}
.logo:first-letter{
    color: white;
}
header nav .icon{
    height: 35px;
    display: flex;
    cursor: pointer;
}
.heading{
    font-size: 3rem;
    margin-top: 80px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: 1px solid underline;
}
main div{
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    margin: 20px;
    margin-bottom: 0px;
}
.img1{
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    margin: 20px;
    margin-bottom: 0px;
    border-radius: 10px;
    border: 4px solid rgb(221, 58, 58);
    
}
.Momos {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    
}

.img2{
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    margin: 20px;
    margin-bottom: 0px;
    border-radius: 10px;
    border: 4px solid rgb(221, 58, 58);
}
.pizza {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    
}

.img3{
    display: flex;
    justify-content: center;
    height: 400px;
    width: auto;
    margin: 20px;
    margin-bottom: 0px;
    border-radius: 10px;
    border: 4px solid rgb(221, 58, 58);
}
.sandwich {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    
}

.img4{
    display: flex;
    justify-content: center;
    height: 400px;
    width: auto;
    margin: 20px;
    margin-bottom: 0px;
    border-radius: 10px;
    border: 4px solid rgb(221, 58, 58);
}
.burger {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    
}



