*{
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    font-family: Poppins, sans-serif;
}
.first{
    z-index: -1;
    width: 30%;
    height: 100vh;
    background-color: #ff611d;
    float: left;
}
.second{
    z-index: -1;
    width: 40%;
    height: 100vh;
    background-color: #813531;
    float: left;
}
.third{
    z-index: -1;
    width: 30%;
    height: 100vh;
    background-color: #ffb80e;
    float: left;
}
nav{
    width: 100%;
    height: 70px;
    display: flex;
    position: absolute;
    top: 0;
    left: -75px;
    justify-content: space-evenly;
    align-items: center;
    background: transparent;
}
.logo{
    color: #9ff707;
    font-size: 40px;
   
    font-weight: bold;
    padding: 30px 10px;
}
.logo::first-letter{
    color: white;
}
.menu a{
    text-decoration: none;
    color:white;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}
.plate{
    position: absolute;
    top: 90px;
    right: 0px;
    
}
.img{
    width: 450px;
    height: 450px;
    margin-right: 50px;
    border-radius: 50%;
    border: 5px solid #ffb80e;
}
.text{
    position: absolute;
    top: 25%;
    left: 10%;
    color: white;
    font-size: 2.6rem;
}
.text:first-letter{
    color: #9ff707;
}
.eat:first-letter{
    color: #9ff707;   
}
.ordernow{
    background-color: #9ff707;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    color: green;
    font-size: 1rem;
    font-weight: bold;
    border: none;
}
.ordernow:hover{
    background-color: #9ff707;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    color: #813531;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid #813531;
}
.order{
    text-decoration: none;
    color: #813531;
}

@media only screen 
and (max-device-width: 1000px)
{
    *{
        height: auto;
    }
    .text{
        position: absolute;
        top: 20%;
        justify-content: center;
        color: white;
        font-size: 1.7rem;
    }
    .img{
        border-radius: 50%;
        display: auto;
        height: 400px;
        width: 400px;
        margin-right: 50px;
        border: 5px solid #ffb80e;
    }
    nav{
        width: 100%;
        height: 70px;
        display: flex;
        position: absolute;
        top: 0;
        left: -25px;
        justify-content: space-evenly;
        align-items: center;
        background: transparent;
    }
}   
@media only screen 
and (max-device-width: 800px)
{
    .img{
        border-radius: 50%;
        display: auto;
        height: 300px;
        width: 300px;
        margin-right: 50px;
        border: 5px solid #ffb80e;
    }
    .text{
        position: absolute;
        top: 15%;
        justify-content: center;
        color: white;
        font-size: 1.4rem;
    }
}

@media only screen 
and (max-device-width: 700px)
{
    *{
        height: auto;
    }
    .text{
        position: absolute;
        top: 15%;
        justify-content: center;
        color: white;
        font-size: 1.2rem;
    }
    .img{
        border-radius: 50%;
        display: auto;
        height: 300px;
        width: 300px;
        margin-right: 50px;
        border: 5px solid #ffb80e;
    }
    nav{
        width: 100%;
        height: 50px;
        display: flex;
        position: absolute;
        top: 0px;
        left: 0px;
        justify-content: space-evenly;
        align-items: center;
        background: transparent;
    }
}

@media only screen 
and (max-device-height: 500px)
{
    .text{
        position: absolute;
        top: 30%;
        justify-content: center;
        color: white;
        font-size: 1.7rem;
    }
}










@media only screen 
and (max-device-width: 360px)
{
    .text{
        position: flex;
        top: 65%;
        justify-content: center;
        color: white;
        font-size: 1.3rem;
    }
    .img{
        border-radius: 50%;
        display: auto;
        height: 250px;
        width: 250px;
        margin-top: 35px;
        margin-right: 40px;
        border: 5px solid #ffb80e;
    }
    nav{
        width: 100%;
        height: 70px;
        top: 0px;
        left: 10px;
        justify-content: space-evenly;
        align-items: center;
        background: transparent;
    }
    .ordernow{
        width: 150px;
        font-size: 1.2rem;
    }
    .logo{
        font-size: 2rem;
    }
    .menu{
        font-size: 10px;
        display: flex;
    }
}

@media only screen 
and (max-device-height: 640px)
{
    .text{
        position: absolute;
        top: 65%;
        justify-content: center;
        color: white;
        font-size: 1.3rem;
    }
    .img{
        border-radius: 50%;
        display: auto;
        height: 250px;
        width: 250px;
        margin-right: 40px;
        margin-top: 35px;
        border: 5px solid #ffb80e;
    }
    nav{
        width: 100%;
        height: 70px;
        top: 0px;
        left: 10px;
        justify-content: space-evenly;
        align-items: center;
        background: transparent;
    }

    .ordernow{
        width: 150px;
        font-size: 1.2rem;
    }
    .logo{
        font-size: 2rem;
    }
    .menu{
        font-size: 10px;
        display: flex;
    }
}
